/* ___ Overrides ___ */
/* BS styles */
input[type='text'], input[type='password'] {
  border-radius: 3px;
}

code {
  white-space: normal;
}

/* --------------------------------------- */

/* ___ Base styles ___ */
body {
  height: 100%;
}

/* ___ Header styles ___ */

header {
  background: #22201e;
  color: #fff;
  margin: 0 -1.5em;
  overflow: hidden;
  padding: 0.7em 1.5em;
}

header .brand {
  float: left;
  margin-right: 0.5em
}

header .logo {
  position: relative;
  margin-bottom: -1px;
}

header p {
  color: #888;
  font-size: 0.825em;
  margin-top: 0.7em;
  margin-bottom: 0;
}


/* ___ Body styles ___ */

/* Styles for sticky footer */
.page-wrap {
  min-height: 92%;
  padding: 0 1.5em;
}

.page-wrap:after{
  content: "";
  display: block;
}

.main {
  margin-top: 2em;
}

.main textarea {
  resize: vertical;
}

.main .btn-run {
  min-width: 5em;
}

.json-editor {
  border: 1px solid #DDD;
  width: 100%;
  height: 350px;
}

.result-editor {
  border: 1px solid #DDD;
  width: 100%;
  height: 425px;
}

#optionsGroup input {
  margin-left: 0.7em;
}

#optionsGroup label {
  font-weight: normal;
}

/* Cheatsheet */
.panel-heading {
  margin-bottom: 1.5em;
}

.panel-heading h3 {
  margin-bottom: 0.75em;
}

.panel-heading em {
  color: #777;
}

/* ___ Footer styles ___ */

footer {
  text-align: center;
  height: 3em;
}

footer hr {
  max-width: 15%;
}

/* __ Syntax highlight */
.ace_hidden-cursors {
  opacity: 0;
}
.ace_editor {
  border-radius: 3px;
}

/* ___ Debugging Utilities ___ */
.dbg-bdr-red {
  border: 1px solid red !important;
}
.dbg-bdr-green {
  border: 1px solid green !important;
}
.dbg-bdr-orange {
  border: 1px solid orange !important;
}
.dbg-bdr-green {
  border: 1px solid green !important;
}
