/* ___ Overrides ___ */
/* BS styles */
input[type='text'], input[type='password'] {
  border-radius: 3px;
}

code {
  white-space: normal;
}

/* --------------------------------------- */

/* ___ Base styles ___ */
body {
  height: 100%;
}

/* ___ Header styles ___ */

header {
  background: #22201e;
  color: #fff;
  margin: 0 -1.5em 1.5em;
  overflow: hidden;
  padding: 0.7em 1.5em;
}

header .brand {
  float: left;
  margin-right: 0.5em
}

header p {
  color: #888;
  font-size: 0.825em;
  margin-top: 1.2em;
  margin-bottom: 0;
}

header a {
  color: #428bca;
}


/* ___ Body styles ___ */

/* Styles for sticky footer */
.page-wrap {
  min-height: 92%;
  padding: 0 1.5em;
}

.page-wrap:after{
  content: "";
  display: block;
}

.main {
  margin-top: 2em;
}

.main textarea {
  resize: vertical;
}

.main .btn-run {
  min-width: 5em;
}

.query-editor {
  border: 1px solid #DDD;
  width: 100%;
  height: 100px;
}

.json-editor {
  border: 1px solid #DDD;
  width: 100%;
  height: 368px;
}

.result-editor {
  border: 1px solid #DDD;
  width: 100%;
  height: 487px;
}

#optionsGroup {
  font-size: 6px;
}

#optionsGroup span {
  padding-right: 2px;
}

#optionsGroup input {
  margin: 2px;
}

#optionsGroup label {
  font-weight: normal;
}

/* Cheatsheet */
.panel-heading {
  margin-bottom: 1.5em;
}

.panel-heading h3 {
  margin-bottom: 0.75em;
}

.panel-heading em {
  color: #777;
}

/* ___ Footer styles ___ */

footer {
  text-align: center;
  height: 3em;
}

footer hr {
  max-width: 15%;
}

/* __ Syntax highlight */
.ace_hidden-cursors {
  opacity: 0;
}
.ace_editor {
  border-radius: 3px;
}

/* ___ Make BS looks flat ___ */

.form-control {
  border-width: 2px;
  height: 38px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.form-control:focus {
  box-shadow: none;
  border-color: #66afe9;
}

label {
  font-size: 16px;
  font-weight: 600;
}

/* ___ Debugging Utilities ___ */
.dbg-bdr-red {
  border: 1px solid red !important;
}
.dbg-bdr-green {
  border: 1px solid green !important;
}
.dbg-bdr-orange {
  border: 1px solid orange !important;
}
.dbg-bdr-green {
  border: 1px solid green !important;
}

.command-line-heading {
  margin-bottom: 0;
}
