<html lang="en" ng-app="jqplay" ng-csp>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>jq play</title>

    <link rel="icon" type="image/png" href="#{ .Asset "images/favicon.png" }">
    <link rel="stylesheet" href="#{ .Asset "css/app.min.#{ TIMESTAMP }.css" }">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="https://raw.githubusercontent.com/twbs/bootstrap/master/docs/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div ng-controller="JqplayCtrl">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand"><img src="#{ .Asset "images/logo.png" }" alt="jqplay"></a>
          </div>
          <p class="navbar-text">A playground for <a href="https://stedolan.github.io/jq/" class="navbar-link">jq</a> #{.JQVer}</p>
          <button type="button" class="btn btn-default navbar-btn pull-right" ng-click="shareSnippet()">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>Share snippet
          </button>
        </div>
      </nav>

      <div class="page-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <form name="input" role="form" novalidate>
                <label for="filter">Filter</label>
                <div ui-ace="{
                  theme:'github',
                  mode: 'jsoniq',
                  workerPath: '/',
                  onLoad: queryEditorLoaded
                }" ng-model="jq.q" id="filter" name="q" ng-required="true" class="query-editor"></div>
                <br>
                <label for="json">JSON</label>
                <div ui-ace="{
                  theme:'github',
                  mode: 'jsoniq',
                  workerPath: '/',
                  onLoad: jsonEditorLoaded
                }" ng-model="jq.j" ng-required="true" class="json-editor"></div>
            </form>
          </div> <!-- end col -->

          <div class="col-sm-12 col-md-6">
            <label for="result">Result</label>
            <div id="optionsGroup">
              <div>
                <span ng-repeat="option in jq.o | orderBy:'name'">
                  <input type="checkbox" id="{{option.name}}" value="{{option.name}}" ng-model="option.enabled">
                    <label for="{{option.name}}">{{option.name | capitalize}}</label>
                  </input>
                </span>
              </div>
            </div>
            <div ui-ace="{
              theme:'github',
              mode: 'jsoniq',
              onLoad: jsonEditorLoaded
            }" readonly="true" ng-model="result" class="result-editor"></div>
          </div> <!-- end col -->
      </div> <!-- end row -->

      <div class="row main">
        <div class="col-sm-12 col-md-12">
          <div class="panel panel-default text-center">
            <div class="panel-heading command-line-heading">
              <h3 class="panel-title">
                Command Line
              </h3>
            </div>
            <div class="panel-body">
              <code>{{cmd}}</code>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
          <form action="https://www.paypal.com/donate" method="post" target="_top">
              <input type="hidden" name="business" value="6ELMGR7GQYAU6" />
              <input type="hidden" name="amount" value="20" />
              <input type="hidden" name="no_recurring" value="0" />
              <input type="hidden" name="item_name" value="Buy me a coffee" />
              <input type="hidden" name="currency_code" value="USD" />
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
              <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
          </form>
      </footer>

      <div class="row main">
        <div class="col-sm-12 col-md-12">
          <div class="panel panel-default">

            <div class="panel-heading">
              <h3 class="panel-title text-center">
                Cheatsheet
              </h3>
              <em>
                Click on the icons (
                <span class="glyphicon glyphicon-list-alt"></span>
                )
                in the table below to see examples.
              </em>
            </div> <!-- end panel-heading-->

            <div class="panel-body">
              <div class="col-md-6">
                <table class="table">
                  <tbody>
                    <tr ng-repeat="sample in samplesLeft">
                      <td>
                        <code>{{sample.code}}</code>
                      </td>
                      <td>{{sample.text}}</td>
                      <td>
                        <a href="#" ng-click="loadSample(samplesLeft, $index)" title="Load Sample">
                          <span class="glyphicon glyphicon-list-alt"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- end col -->

              <div class="col-md-6">
                <table class="table">
                  <tbody>
                    <tr ng-repeat="sample in samplesRight">
                      <td>
                        <code>{{sample.code}}</code>
                      </td>
                      <td>{{sample.text}}</td>
                      <td>
                        <a href="#" ng-click="loadSample(samplesRight, $index)" title="Load Sample">
                          <span class="glyphicon glyphicon-list-alt"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> <!-- end col -->
          </div> <!-- end panel-body -->

        </div> <!-- end panel -->
      </div> <!-- end col -->
    </div> <!-- end row -->
    </div> <!-- end page-wrap -->
  </div>

    <footer class="footer">
      <hr>
      <p><a href="https://github.com/owenthereal/jqplay">View source</a> on GitHub</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    #{ if .ShouldInitJQ }
    <script>
      window.jq = JSON.parse(#{.JQ});
    </script>
    #{ end }
    <script type="text/javascript" src="#{ .Asset "js/app.min.#{ TIMESTAMP }.js" }"></script>
    #{ if .IsProd }
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P5KMRWLWMM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-P5KMRWLWMM');
    </script>
    #{ end }
</body></html>
